
.navbar-brand h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
}

.menu-div {


}

#main-content {
 margin: 15px;
}

.menu {
    
    margin-bottom: 30px;
    
}

#nav-list {
    text-align: center;
    
    
}

#nav-list a {
    font-size: 1.6em;   
    border: 1px solid black;
    
}

.row {
    
    margin: 5px;
    
}

.section {
    margin: 15px;
    border: 1px solid black;
    padding: 15px
}