
.navbar-brand h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
}

.menu-div {


 margin-bottom: 50px;
 color: white;
 background-color: grey;
 height: 1000px;

}

#main-content {
  margin-left: 30px;
  margin-right: 30px;

}

.menu {
    
    margin-bottom: 30px;
    
}

#nav-list {
    text-align: center;
    
    
}

#nav-list a {
    font-size: 1.6em;
    background-color: gray;
    color: white;
    border: 0.5px solid black;
    
}